<footer>
    <section id="footer">
        <div>
            <h2 id="footer__h2">Pour me contacter :</h2>
            <h3>Réseaux</h3>
        </div>

        <div id="footer__conteneur">
            <div id="footer__reseaux">
                <a rel="noreferrer" class="footer__links" href="https://twitter.com/Yan_Coquoz" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a rel="noreferrer" class="footer__links" href="https://www.linkedin.com/in/yan-coquoz-41081b194"
                    target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <a rel="noreferrer" class="footer__links" target="_blank" href="https://github.com/Yan-Coquoz"><i
                        class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a class="footer__links" href="tel:0615999614"><i class="fab fa-whatsapp" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="footer__bottom">
            <div id="footer__contact">

                <p id="footer__contact_p">Vous pouvez également m'adresser un courriel : <a id="footer__email"
                        href="mailto:Yan.Coquoz@gmail.com">Yan.Coquoz@gmail.com</a> .
                </p>
            </div>
            <div id="footer__contact__date">
                <% const date=new Date() %>
                    <span>
                        <%= date.getFullYear() %> &copy; Coquoz Yan
                    </span>
            </div>
        </div>

    </section>
</footer>

<!-- <script src="time.js"></script> -->

</body>

</html>