<%-include ('partials/header.ejs') %>
  <!-- Aside -->
  <aside class="container">
    <h3 id="aside__title">Je me présente :</h3>
    <div id="aside__div_image"></div>
    <div id=aside__speech>
      <p>Bonjour, je me présente, je m'appelle Yan.

        Récemment diplômé en tant que développeur web et web mobile, j'ai suivi ma formation de 6 mois chez
        <a id="aside__ecole" rel="noreferrer" href="https://oclock.io/formations/developpeur-web-fullstack-javascript"
          target="_blank"><strong>O'clock</strong></a>
        où j'ai pu apprendre les langages suivants:
      </p>
      <ul>
        <li class="asset__li"><strong>HTML,</strong></li>
        <li class="asset__li"><strong>CSS, </strong>SCSS </li>
        <li class="asset__li"><strong>Javascript,</strong></li>
        <li class="asset__li"><strong>Nodejs,</strong> avec express, ejs, dotenv </li>
        <li class="asset__li"><strong>mySql,</strong> avec postgresql et sequelize</li>
        <li class="asset__li"><strong>React,</strong> avec redux</li>
      </ul>
      <p>
        Je vous montre mon savoir faire avec ce portfolio.
        <em>Enjoy!!!</em>
      </p>
    </div>
  </aside>
  <%-include ('partials/footer.ejs') %>