<%-include ('partials/header.ejs') %>

  <section class="container">
    <div id="projet-titre">
      <h2 id="projet-titre__h2">Projets</h2>
      <h3>La Nature... et l'Homme</h3>
    </div>
    <nav id="projet-titre__nav">
      <ul id="projet-titre__nav_ul">
        <li class="projet-titre__nav_li">
          <a class="projet-titre__lien" href="/projet/animaux"><span class="projet__titreImg">Nature
              d'Afrique</span></a>
        </li>
        <li class="projet-titre__nav_li">
          <a class="projet-titre__lien" href="/projet/chemins "><span class="projet__titreImg">Sur les routes</span></a>
        </li>
        <li class="projet-titre__nav_li">
          <a class="projet-titre__lien" href="/projet/plages"><span class="projet__titreImg">L'Homme et l'eau</span></a>
        </li>
      </ul>
    </nav>
  </section>

  <%-include ('partials/footer.ejs') %>