<%-include ('partials/header.ejs') %>

    <section id="production" class="container">

        <h2 id="production__title">Productions</h2>
        <h3 class="production__title-sub">Projet de fin de formation</h3>
        <p>Réalisé condition professionnel en <strong>méthodologie
                Agile.</strong></p>
        <p>Ce projet à été produit avec 2 développeur web front et 2 côté back.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XliSnSJouJs?start=3000"
            title="Projet de fin de formation chez O'clock"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <h3 class="production__title-sub">Grille de dessin en pixels</h3>
        <p>Petite réalisation en javascript vanilla</p>
        <a class="production__link" id="invaders" href="https://yan-coquoz.github.io/invaders/" target="_blank">
            <div id="production__div_image"> </div>
        </a>


    </section>

    <%-include ('partials/footer.ejs') %>